{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}


{% block title %}
OCT Histology Quality Questions
{% endblock %}


{% block content %}

<div class="container"><div class="row">
	<h1 class="pt-5 pb-2">Please Select</h1>
	We currently support the following evaluation tools:<br>
	
	<ul class="lead">
		<li>
			<a href="/ModelCompareSetup/">Compare Model Performances Between Two Models</a>
		</li>
	</ul>
	
</div></div>

{% endblock %}