{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
		th, td {
			padding: 3px;
			text-align: center; 
		}
	</style>
{% endblock %}


{% block title %}
OCT Histology Quality Questions
{% endblock %}


{% block content %}

<div class="container"><div class="row">
	<h1 class="pt-5 pb-2">Please Select (Image {{image_index}} of {{total_number_of_images}})</h1>
	Which option resembles ground truth more?<br><br>
	<table>
		<tr>
			<th>Option 1</th>
			<th>Ground Truth</th>
			<th>Option 2</th>
		</tr><tr>
			<td><img src="{{ option_1_image_path }}"></td>
			<td><img src="{{ ground_truth_image_path }}"></td>
			<td><img src="{{ option_2_image_path }}"></td>
		</tr>
	</table>
	{{ wtf.quick_form(form) }}
</div></div>

{% endblock %}